@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }


body{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}